.filtered-tag{
    color: #fff !important;
    background-color:#E2350D;
}
.filtered-tag:after{
    content: " ✓ ";
}

/* icone de busca */
svg.svg-inline--fa.fa-magnifying-glass{
    color: #e2350d;
    position: absolute;
    right: 40px;
    margin-top: 13px;
}
.aside-right{
    margin-top: 40px;
}
@media(min-width: 769px){
    svg.svg-inline--fa.fa-magnifying-glass{
        margin-left: -32px;
        right: auto;
    }
    .filters .select-filter{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
}
