.header-main{
    background-color: #E2350D;
    float: left;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px #ccc;
}

.header-main h2{
    color: #fff;
    margin-left: 15px;
}

.header-main ul{
    list-style: none;
    float: right;
}

.header-main .logo-header .logo{
    width: 40px;
    text-align: center;
    margin: 0 auto;
}
.header-main .logo-header  h2{
    text-align: center;
}
.list-inline {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0px;
    align-items: center;
}

.list-inline li {
    margin-left: 10px;
}
svg.svg-inline--fa.fa-right-from-bracket{
    color: #fff;
}

@media(min-width: 769px){
    .header-main{
        padding-bottom: 15px;
    }
   .header-main .logo-header {
      float: left;
      width: 160px;
    }
    .header-main .logo-header  h2{
        text-align: left;
        margin-left:-5px;
    }
   .header-main .login {
        float: right;
        position: relative;
        right: auto;
        width: 110px;
    }
    .list-inline{
        gap: 15px;
    }
    .list-inline li {
        margin-left: 0px;
    }

}

