    .type{
        padding: 5px 20px;
        margin: 5px;
    }
    .type-fire{
        background-color:#EE7F33
    }		
        
    .type-normal{
        background-color:#A9A778
    }		
        
    .type-water{
        background-color:#6890F0
    }		
        
    .type-grass{
        background-color:#78C84F
    }		
        
   .type-ice{
        background-color:	#98D8D7
    }	
       
    .type-poison{
        background-color:#A040A1
    }		
        
    .type-ground{
        background-color:#E0C069
    }		
        
    .type-flying{
        background-color:#A790EF
    }		
        
    .type-bug{
        background-color:#A8B821
    }		
        
    .type-rock{
        background-color:#B6A037
    }		
        
    .type-ghost{
        background-color:#705797
    }		
        
    .type-dragon{
        background-color:#724EF9
    }		
        
    .type-dark{
        background-color:#6F5848
    }		
        
    .type-steel{
        background-color:#B8B8D0
    }		
        
    .type-fairy{
        background-color:#F4C8E2
    }		
        
    .type-psychic{
       background-color: #E95587
    }	
        
    .type-electric{
       background-color: #F8CF32
    }	
        
    .type-fighting{
        background-color:#C03228
    }	
